#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

/* Hide scrollbar for carousels */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Writing mode for vertical text */
.writing-vertical-lr {
  writing-mode: vertical-lr;
}
